.section.cart-container.summary-section-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2rem 0;
  gap: var(--space-xl);
}

.summary-section {
    background: var(--color-white);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-l);
    box-sizing: border-box;
    padding: var(--space-xl);

    /* max-width: fit-content; */

    /* animation: slideUp 0.6s ease-out; */
    width : 100%;
    min-width: 320px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: var(--color-gray-500);
}

.summary-heading{
    font-size: var(--font-size-l);
    font-weight: bold;
    color: var(--color-heading);
    margin-bottom: var(--space-l);
}

.place-order-button {
    /* width: 100%; */
    background-color:var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    padding: var(--space-m) var(--space-s);
    border: none;
    border-radius: var(--radius-l);
    box-shadow: var(--shadow-m);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--font-size-s);
    margin-top: var(--space-l);
    display: flex;
    align-items: center;
    justify-content: center;
}

.place-order-button p,.place-order-button>div {
    margin: 0;
    padding:0;
}

@media (width <= 768px) {
  .summary-section,
  .summary-row,
  .summary-heading,
  .place-order-button {
    font-size: var(--font-size-s);
  }
}

@media (width <= 480px) {
  .summary-section,
  .summary-row,
  .summary-heading,
  .place-order-button {
    font-size: var(--font-size-xs);
  }
}