footer {
  background-color: black;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
  padding-left : 38px;
  color : white;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.footer-heading,.footer-subitem{
  list-style: none;
}

.footer-heading{
  color : var(--heading-color);
}

.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin : 30px;
}

.footer-sublist{
   display: flex;
  flex-direction: column;
  padding : 0;
  margin : 0;
  color : white;
}



